@import '../../../scss/button';

.PizzaBlockId {
    padding: 40px 0;

    @media (max-width: 1099px) {
        padding: 20px 0;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;

        @media (max-width: 565px) {
            flex-direction: column;
            align-items: center;
        }

        img {
            display: block;
            width: 420px;
            height: 420px;
            margin: auto 0;

            @media (max-width: 1099px) {
                width: 320px;
                height: 320px;
            }

            @media (max-width: 819px) {
                width: 260px;
                height: 260px;

            }

            @media (max-width: 675px) {
                width: 200px;
                height: 200px;
            }
        }

        .info {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 40px 0;

            @media (max-width: 1099px) {
                padding: 20px 0;
            }

            @media (max-width: 675px) {
                padding: 0;
            }

            h3 {
                font-size: 36px;
                text-align: center;
                color: #181818;
                margin-bottom: 30px;

                @media (max-width: 675px) {
                    font-size: 26px;
                    margin-bottom: 15px;
                }
            }

            p {
                font-size: 26px;
                color: #7b7b7b;
                margin-bottom: 15px;
                margin-left: 20px;

                @media (max-width: 675px) {
                    font-size: 20px;
                }
            }

            ul {
                margin-left: 80px;
                margin-bottom: 30px;

                li {
                    font-size: 22px;
                    letter-spacing: 1px;
                    list-style: initial;

                    @media (max-width: 675px) {
                        font-size: 18px;
                    }
                }
            }

            span {
                font-weight: 600;
                font-size: 24px;
                margin-left: 20px;

                @media (max-width: 675px) {
                    font-size: 19px;
                }

                b {
                    color: $orange;
                }
            }
        }

    }
}